#WorkExperience {
  margin-bottom: 1rem;
}

.experienceDetails {
  margin: 1rem 0;
  padding-left: 2rem;
}

.experienceDetails > * {
  margin: .5rem 0;
}

.workExperienceCard .position {
  font-size: 2rem;
  font-weight: bold;
}

.experienceDetails .companyName {
  font-size: 2rem;
  /* font-style: italic; */
  font-weight: 700;
}

.experienceDetails .duration {
  font-size: 1.4rem;
  font-weight: bold;
  color: #777;
}

.experienceDetails ul {
  /* list-style: none; */
  font-size: 1.4rem;
  font-weight: 500;
}