#Contact {
  border-bottom: 1px solid #eee;
}

#Contact .contactTile {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  color: black;
}

.contactTile a {
  text-decoration: none;
  color: black;
}

.contactTile i {
  margin: .2rem .5rem 0 0;
}