*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

#root {
  display: flex;
  justify-content: center;
  background-color: red;
  padding: 2rem;
}